$dark-font-color: rgba(21, 22, 22, 1);
$light-font-color: rgba(255, 255, 255, 1);
$accent-color: rgba(201, 141, 90, 1);
$bg-color: rgba(235, 235, 235, 1);

* {
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

.logo{
    max-width: 16rem;
}

.buttons>br,
.menu{
    display: none;
}

.logo img,
.custom-line img,
.arguments img,
.pictures img{
    width: -webkit-fill-available;
}

.title,
.title h3 {
    text-transform: uppercase;
    font-size: 3.75rem;
    font-weight: 800;
}

.wrapper {
    width: 85vw;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $bg-color;

    main {
        background-image: url(../img/Mask\ group.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 56vw;

        .wrapper {
            height: 100%;

            header {
                padding-top: 1rem;
                color: $light-font-color;
                display: flex;
                justify-content: space-between;
                align-items: center;

                nav {
                    ul {
                        display: flex;
                        list-style: none;
                        padding-inline-start: 0;

                        li {
                            padding: 0 .5rem;

                            a {
                                text-transform: uppercase;
                                text-decoration: none;
                                color: $light-font-color;
                                font-weight: 400;
                                font-size: .8rem;
                                padding-bottom: .3rem;

                                &:hover {
                                    border-bottom: 1px solid $light-font-color;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }

                .cart {
                    display: flex;
                    align-items: center;
                    >img{
                        width: .7rem;
                    }

                    &-icon {
                        display: flex;
                        justify-content: center;
                        width: 2rem;
                        height: 2rem;
                        border-radius: 50%;
                        background-color: rgba(40, 28, 20, 1);
                        margin-right: .5rem;

                        img {
                            width: 60%;
                            height: fit-content;
                            align-self: center;
                        }
                    }

                    .total-price {
                        font-size: .8rem;
                        font-weight: 700;
                    }
                }
            }

            .main {
                max-width: 60%;
                height: 55%;
                padding-left: 2rem;

                &-title {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-evenly;

                    .title {
                        color: $light-font-color;
                        font-weight: 800;
                        font-size: 4.5rem;
                        margin-bottom: 1rem;
                    }

                    p {
                        color: $light-font-color;
                        width: 70%;
                        font-size: 1rem;
                    }

                    .main-btn {
                        margin-top: 2rem;
                        background-color: $accent-color;
                        border: none;
                        border-radius: 56px;
                        box-shadow: 5px 5px 10px #1A0600;
                        text-transform: uppercase;
                        padding: 1.5rem;

                        &:hover {
                            background-color: $light-font-color;
                        }

                        a {
                            text-decoration: none;
                            text-transform: uppercase;
                            color: $dark-font-color;
                            font-weight: 500;
                        }
                    }
                }

                &-image {
                    position: relative;
                }
            }
        }

    }

    section {
        text-align: center;

        .wrapper {
            padding-top: 1rem;
            padding-bottom: 3rem;
        }
    }

    .dark-block {
        background-image: url(../img/fresh-brown-bread-on-the-table\ 1.png);
        background-size: cover;
        background-repeat: no-repeat;
        color: rgba(196, 196, 196, 1);

        & .title {
            color: $light-font-color;
        }

        &.first {
            button {
                border-radius: 44px;
                border: 1px solid rgba(196, 196, 196, 1);
                text-transform: capitalize;
                background-color: inherit;
                color: rgba(196, 196, 196, 1);
                font-size: 1.3rem;
                padding: 1rem 2.5rem;
                margin: 0 .5rem;

                &:hover {
                    background-color: $accent-color;
                    color: $dark-font-color;
                    border-color: $accent-color;
                    font-weight: 500;
                }
            }

            .cards {
                margin-top: 4rem;
                display: flex;
                justify-content: space-evenly;

                .card {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background-color: rgba(31, 31, 31, 1);
                    border-radius: 30px;
                    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
                    width: 20%;
                    padding: .5rem 2rem;

                    h5 {
                        text-transform: capitalize;
                        font-size: 1.5rem;
                        font-weight: 700;
                    }

                    .image img {
                        width: -webkit-fill-available;
                    }

                    p {
                        font-size: .94rem;
                        font-weight: 500;
                        text-transform: capitalize;
                    }

                    .price {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-bottom: 2rem;

                        img {
                            height: fit-content;
                            max-width: 2rem;
                        }

                        div {
                            background-color: rgba(245, 155, 77, 1);
                            padding: .5rem;
                            color: $dark-font-color;
                            font-size: .94rem;
                        }
                    }
                }
            }
        }

        &.second {
            .pictures {
                display: flex;
                justify-content: center;

                >div {
                    margin: 0 1vw;
                    max-width: 30%;
                }

                img {
                    border: 2px solid rgb(5, 100, 52);
                }

                .two-pics {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
            }
        }
    }

    .light-block {
        & .title {
            color: $dark-font-color;
        }

        &.first {
            text-align: center;
            .wrapper{
                max-width: 60%;
            }

            .arguments {
                display: flex;
                justify-content: space-evenly;

                div {
                    width: 20%;

                    img{
                        max-width: 70%;
                    }

                    p {
                        border-top: .2rem solid rgba(118, 118, 118, 1);
                        font-size: 1.25rem;
                    }
                }
            }
        }

        &.second {
            font-size: 1.25rem;
            .wrapper{
                max-width: 60%;
            }

            .text {
                padding-top: 2rem;
                text-align: left;

                .signature {
                    text-align: end;
                    font-style: italic;
                }
            }

        }
    }

    footer {
        padding: 1vh 0;
        background-color: rgba(18, 20, 19, 1);
        color: white;

        .wrapper {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .address {
                p {
                    margin: 0;
                }

                p:first-child {
                    font-size: 1.25rem;
                    font-weight: 700;
                }

                p:last-child {
                    font-size: 1rem;
                }
            }

            .phone {
                font-size: 1.5rem;
                font-weight: 700;
            }
        }

    }
}

@media(max-width:1800px){
    html{
        font-size: 15px;
    }
}

@media(max-width:1680px){
    html{
        font-size: 14px;
    }
}

@media(max-width:1560px){
    html{
        font-size: 13px;
    }
}

@media(max-width:1440px){
    html{
        font-size: 12px;
    }
}

@media(max-width:1320px){
    html{
        font-size: 11px;
    }
}

@media(max-width:1200px){
    html{
        font-size: 10px;
    }
}

@media(max-width:1112px){
    html{
        font-size: 10px;
    }
}

@media(max-width:1024px){
    html{
        font-size: 8px;
    }
}

@media(max-width:800px){
    html{
        font-size: 6px;
    }
}

@media(max-width:768){
    html{
        font-size: 5px;
    }
}

@media(max-width:512px){
    html{
        font-size: 7px;
        .wrapper{
            width: 95vw;
        }

        nav{
            display: none;
        }

        .menu{
            display: block;
            padding-left: 2rem;
        }

        .menu img{
            max-width: 1.5rem;
        }

        body main {
            height: 70vw;
            .wrapper .main-title .title{
                font-size: 3rem;
            }
        } 

        body main .wrapper .main{
            margin-top: 1rem;
        }
        body .light-block.first .wrapper,
        body .light-block.second .wrapper{
            max-width: 80%;
        }
        body .dark-block.first button{
            margin-bottom: 1rem;
        }
       
        .buttons>br{
            display: inline;
        }

        body .dark-block.first .cards .card{
            width: 30%;
            padding: 0.1rem 1rem;
        }
        body .dark-block.first .cards .card p{
            font-size: 1.2rem;
        }
        body .dark-block.first .cards .card .price div{
            font-size: 1.4rem;
            font-weight: 500;
        }
        body footer .wrapper{
            flex-wrap: wrap;
        }
        body footer .wrapper .address p:first-child{
            font-size: 2rem;
        }
        body footer .wrapper .address p:last-child{
            font-size: 1.5rem;
        }
        body footer .wrapper .phone{
            font-size: 1.5rem;
        }

        .address{
            text-align: center;
            padding: 2rem;
        }

        body .light-block.first .arguments{
            justify-content: space-between;
        }

        body main .wrapper .main-title p{
            font-size: 1.2rem;
        }
        .title, .title h3{
            font-size: 3rem;
        }
    }
}
